@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Agenda
    </h1>
    <p class="lead">
    </p>
    <p>
        <a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

