@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agenda</h1>
    <p class="lead">
    </p>
    <p>
        <a href="@Url.Action("Index", "Contatos")" class="btn btn-primary btn-lg">Acessar agenda</a>
    </p>
</div>
